server:
  port: 8080

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://db:3306/dancer
    username: root
    password: root
  jpa:
    database-platform: org.hibernate.dialect.MySQL5Dialect
    generate-ddl: false
    hibernate:
      ddl-auto: none
      use-new-id-generator-mappings: false
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
#    open-in-view: false
    show-sql: false
  flyway:
    baseline-on-migrate: true
    enabled: true

  sql:
    init:
      mode: always

#tiken lifetime is = current data + token lifetime (min)
tokenLifetime: 30
tokenSecret: testSpringSecret