server:
  port: 8080

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dancer
    username: root
    password: qwer4321
  jpa:
    database-platform: org.hibernate.dialect.MySQL5Dialect
    generate-ddl: false
    hibernate:
      ddl-auto: none
      #for close error 'dancer.hibernate_sequence' doesn't exist
      use-new-id-generator-mappings: false
      #for camelCase naming
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
#    open-in-view: false
    show-sql: true
  flyway:
    baseline-on-migrate: true
    enabled: true
  #For run data.sql uncomment (add test data)
  sql:
    init:
      mode: always
      continue-on-error: false

logging:
  level:
    root: info
    sql: info