server:
  port: 8080

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dancer
    username: root
    password: qwer4321
  jpa:
    database-platform: org.hibernate.dialect.MySQL5Dialect
    generate-ddl: false
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: true
  flyway:
    baseline-on-migrate: true

  #For run data.sql uncomment (add test data)
  sql:
    init:
      mode: always

logging:
  level:
    root: info
    sql: trace